numpy==1.26.4
pandas==2.2.2
kaggle==1.6.3
scikit-learn==1.5.2
matplotlib==3.9.2
tqdm==4.66.5
ipywidgets==8.1.5
opencv-python==4.10.0.84
tensorflow==2.14.0
tensorflow-metal==1.1.0
keras==2.14.0
keras-cv==0.9.0
ipykernel==6.29.5
tfds-nightly==4.9.7.dev202411030045
seaborn==0.13.2
pycocotools==2.0.8
opencv-python==4.10.0.84
scikit-image==0.24.0
roboflow==1.1.50